<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Josh Lospinoso" />
   <link href="https://feeds.feedburner.com/jalospinoso" rel="alternate" title="Josh Lospinoso" type="application/atom+xml" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
   
   <!-- ShareThis -->
	<script type="text/javascript" src="https://ws.sharethis.com/button/buttons.js"></script>
	<script type="text/javascript">stLight.options({publisher: "f90ebad0-982c-402b-99de-4167a825e0ab", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">Josh Lospinoso</a>
    <a class="extra" href="/">home</a>
    <a class="extra" href="/posts.html">posts</a>
    <a class="extra" href="https://www.linkedin.com/in/jalospinoso" target="_blank">about</a>
  </div>
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        Josh Lospinoso<br />
        josh@lospi.net
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="https://www.linkedin.com/in/jalospinoso">LinkedIn</a> | <a href="https://twitter.com/jalospinoso">Twitter</a><br />
		<a href="https://github.com/JLospinoso">GitHub</a> | <a href="https://stackoverflow.com/users/339555/jalospinoso">StackOverflow</a>
      </p>
    </div>
	<div class="share">

	</div>
    <div class="rss">
		<span class='st_facebook_hcount' displayText='Facebook'></span>
		<span class='st_twitter_hcount' displayText='Tweet'></span>
		<span class='st_linkedin_hcount' displayText='LinkedIn'></span>
		<a href="https://feeds.feedburner.com/jalospinoso">
			<img src="/images/rss.png" alt="Subscribe to RSS Feed" />
		</a>
    </div>
  </div>
</div>

<a href="https://github.com/JLospinoso"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>

<!-- Google Analytics -->
            <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          </script>
          <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("UA-25952771-1");
            pageTracker._trackPageview();
            } catch(err) {}
          </script>
<!-- Google Analytics end -->

</body>
</html>
