<!DOCTYPE html>
<html xmlns="https://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="The Blog of Josh Lospinoso">
    <meta name="author" content="Josh Lospinoso">
    <link rel="icon" href="/favicon.ico">
    <title>{{ page.title }}</title>
    <link href="https://feeds.feedburner.com/jalospinoso" rel="alternate" title="Josh Lospinoso" type="application/atom+xml" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/main.css" type="text/css" />
    <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
</head>
<body>
<div class="container offset-md-2 col-md-8">
    <nav class="navbar navbar-light bg-light">
		<a class="navbar-brand" href="https://keybase.io/jlospinoso" target="_blank">Josh</a>
		<ul class="nav navbar-nav">
			<li class="nav-item"><a class="nav-link" href="/">Blog</a></li>
			<li class="nav-item"><a class="nav-link" href="/scholarly.html">Articles</a></li>
			<li class="nav-item"><a class="nav-link" href="https://nostarch.com/cppcrashcourse" target="_blank">C++ Book</a></li>
		</ul>
    </nav>
    <hr>
    <div class="row row-offcanvas row-offcanvas-right">
        {{ content }}
    </div>
    <hr>
    <footer>
        <div class="row">
            <div class="col-xs-4 text-xs-left">
                Josh Lospinoso &copy; 2018
            </div>
	    <div class="col-xs-4"\>
            <div class="col-xs-4 text-xs-right">
                <a href="https://www.linkedin.com/in/jalospinoso" target="_blank">
					<img src="/images/linkedin.png" alt="LinkedIn" height="32" width="32"/>
				</a>
				<a href="https://twitter.com/jalospinoso" target="_blank">
					<img src="/images/twitter.png" alt="Twitter" height="32" width="32"/>
				</a>
				<a href="https://github.com/JLospinoso" target="_blank">
					<img src="/images/github.png" alt="Github" height="32" width="32"/>
				</a>
				<a href="https://feeds.feedburner.com/jalospinoso" target="_blank">
					<img src="/images/rss.png" alt="RSS Feed" height="32" width="32"/>
				</a>
            </div>
        </div>
    </footer>
</div>

<script src="/js/jquery.min.js"></script>
<script src="/js/tether.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/ie10-viewport-bug-workaround.js"></script>
<script src="/js/offcanvas.js"></script>
<!-- Google Analytics -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
  var pageTracker = _gat._getTracker("UA-25952771-1");
pageTracker._trackPageview();
} catch(err) {}
</script>
</body>
</html>
